<nav class="navbar navbar-expand-md border-bottom mb-3">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link nav-item-color" routerLink="/home" routerLinkActive="text-dark">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-item-color" routerLink="/projetPro" routerLinkActive="text-dark">Project Professionnel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-item-color" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-item-color" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
        </li>
    </ul>
</nav>
