<div class="container">
    <div class="text-center border m-1 shadow rounded">
        <h1>Contact</h1>
        <p>Vous pouvez me joindre voie cette email adresse: herex.devfullstack&#64;tutamail.com</p>
        <p>N'hésitez pas à me contacter sur Linkedin si vous le souhaitez: </p>
    </div>

    <div class="list-group shadow m-1">
        <a href="https://www.linkedin.com/in/jes%C3%BAs-hern%C3%A1ndez-rexa-617370276/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedin.png" width="32" height="32" alt="" class="rounded-circle flex-shrink-0 me-3">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
    </div>
</div>
