<div class="container text-center">
  <div class="accordion" id="accordionExample">
    <!-- Objectifs Professionnels -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <strong>Objectifs Professionnels</strong>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Mon objectif principal est de devenir un développeur web polyvalent,
          capable de contribuer à des projets innovants et d'apporter une réelle
          valeur ajoutée à l'entreprise où je travaillerai à l'avenir. Je
          souhaite me spécialiser dans le développement front-end tout en ayant
          une solide compréhension du back-end pour assurer une intégration
          harmonieuse de tous les composants d'un site ou d'une application web.
        </div>
      </div>
    </div>
    <!-- Étude du marché -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <strong>Étude du marché</strong>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Étant donné que l'emploi visé est développeur web, j'ai cherché des
            offres d'emploi concernant ce poste dans différents sites. J'ai
            obtenu les résultats suivants:
          </p>
          <p>
            <strong>France Travail:</strong> Plus de 3000 postes de travail
            comme développeur web en Île de France.
          </p>
          <a
            href="https://candidat.francetravail.fr/offres/recherche?emission=31&lieux=11R&motsCles=D%C3%A9veloppeur+web&offresPartenaires=true&range=0-19&rayon=10&tri=0"
            >Site web</a
          >

          <p>
            <strong>Indeed:</strong> Plus de 1000 postes de travail comme
            développeur web en Île de France.
          </p>
          <a
            href="https://fr.indeed.com/jobs?q=d%C3%A9veloppeur+web&l=%C3%8Ele-de-France&from=searchOnDesktopSerp&vjk=825ac77430072c08"
            >Site web</a
          >

          <p>
            <strong>Hellowork:</strong> Plus de 900 postes de travail comme
            développeur web en Île de France.
          </p>
          <a
            href="https://www.hellowork.com/fr-fr/emploi/metier_developpeur-web-region_ile-de-france.html"
            >Site web</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          <strong>Motivation pour l'alternance</strong>
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            L'alternance représente pour moi une opportunité unique de mettre en
            pratique les compétences acquises lors de la formation tout en
            bénéficiant d'une immersion professionnelle. Cette approche me
            permettra de :
          </p>
          <p>
            <strong>Appliquer directement les compétences techniques</strong>
            acquises en centre de formation sur des projets réels en entreprise.
          </p>
          <p>
            <strong
              >Développer une compréhension approfondie des besoins et des
              contraintes</strong
            >
            de l'industrie, en travaillant en étroite collaboration avec des
            professionnels expérimentés.
          </p>
          <p>
            <strong>Acquérir une expérience précieuse</strong> qui facilitera
            mon intégration sur le marché du travail après l'obtention de mon
            diplôme.
          </p>
        </div>
      </div>
    </div>
    <!-- Perspectives de Carrière -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          <strong>Perspectives de Carrière</strong>
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            À long terme, je souhaite évoluer vers des postes de responsabilité,
            tels que chef de projet ou architecte logiciel, où je pourrai
            superviser des équipes de développement et piloter des projets
            innovants. Je suis également intéressé par le développement de
            solutions technologiques visant à améliorer l'accessibilité et
            l'inclusivité des outils numériques.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <strong
            >Compétences, Expériences Professionnelles et Formation</strong
          >
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <h3>Compétences Techniques</h3>
          <p><strong>Langages:</strong> HTML, CSS, JavaScript, Java, C++</p>
          <p>
            <strong>Frameworks et bibliothéques:</strong> Angular, React,
            Node.js, Express
          </p>
          <p><strong>Outils de développement:</strong> Git</p>
          <p><strong>Bases de données:</strong> MongoDB</p>
          <hr />

          <p>
            <strong
              >Bootcamp Full Stack en ligne chez PixelPro (01/02/2024 - présent,
              Madrid, Espagne)</strong
            >
          </p>
          <p>Participation à un bootcamp Full Stack en ligne</p>
          <p>
            Achèvement de la partie front-end : HTML, CSS, JavaScript, Angular,
            Node.js, Express
          </p>
          <p>Actuellement en apprentissage de React, Node.js et MongoDB</p>
          <p>
            Prévision de se focaliser sur le back-end avec PHP et Symfony après
            avoir appris React
          </p>
          <div>
            <a href="https://pixelpro.es/carreras/full-stack-developer.html"
              ><strong>Site web</strong></a
            >
          </div>
          <hr />

          <h3>Langues</h3>
          <p>Français - C2</p>
          <p>Espagnol- C2</p>
          <p>Italien - C2</p>
          <p>Anglais - C2</p>
          <p>Allemand- B1</p>
          <hr />

          <h3>Soft Skills</h3>
          <p>
            <strong>Auto-didacte</strong>. Ayant réalisé un bootcamp Front-End
            en ligne, j'ai développé la capacité d'être autodidacte, grâce aux
            enjeux que j'ai rencontrés pendant ma formation. Outre cela, le fait
            d'avoir vécu en pays différents m'a accordé la possibilité de
            renforcer cette aptitude grâce à l'apprentissage des langues. Par
            ailleurs, mon expérience comme professeur m'a permis d'analyser le
            processus d'apprentissage et d'acquisition des connaissances, ce qui
            me permet de m'autoévaluer avec un esprit critique.
          </p>
          <p>
            <strong>Travail en équipe</strong>. Lors de ma carrière
            professionnelle, j'ai eu l'opportunité de collaborer avec des
            personnes venant des origines très diverses. Grâce à cela, j'ai
            acquis un énorme bagage culturel qui m'a transformé en une personne
            qui peut travailler à l'aise dans des équipes de travail
            hétérogènes.
          </p>
          <p>
            <strong>Raisonnement logique et analytique</strong>. La réalisation
            de ma reconversion professionnelle, avec la planification que cela
            comporte, a déterminé l'acquisition de cette compétence, étant donné
            que j'ai dû prendre des décisions importantes, en orientant mon
            savoir-faire afin de mener à bien ce projet que je vous présente en
            forme d'application web.
          </p>
          <p>
            <strong>Polyvalent</strong> Avoir développé ma carrière
            professionnelle dans des secteurs diverses et en pays différents,
            m'a aidé à être capable d'accomplir une grande variété des tâches,
            ce qui me rend un candidat flexible pour l'équipe de travail que je
            joindrai.
          </p>
          <hr />

          <h3>Expériences Professionnelles</h3>
          <p>
            <strong
              >Développeur Front End (01/02/2024 - actuellement,
              Freelance)</strong
            >
          </p>
          <p>
            Lors de ma formation comme développeur web full stack, j'ai conçue
            deux applications:
          </p>
          <p>
            • Une application de livraison à domicile avec MongoDB. Express,
            Angular et Node.js.
          </p>
          <p>
            • Une application CRUD qui gère les membres d'un salle de sport avec
            Angular.
          </p>
          <p>
            • Un site web pour une école qui offre des cours en ligne avec un
            blog. Pour cette application, j'ai utilisé React js, MongoDB,
            Express et Node js.
          </p>
          <div>
            <a href="https://projetpro-1ceb2.web.app/portfolio"
              >Visitez mon portfolio pour avoir plus de détails...</a
            >
          </div>
          <hr />
          <p>
            <strong
              >Professeur d'anglais chez Froebel (17/09/2023 - 13/06/2024,
              Torrejón de Ardoz, España)</strong
            >
          </p>
          <p>
            Préparation aux examens officiels de Cambridge. J'ai donné des cours
            à des enfants, des adolescents et des adultes, du A1 au C2.
          </p>
          <div>
            <a href="https://www.academiafroebel.com/"
              ><strong>Site web</strong></a
            >
          </div>
          <hr />

          <p>
            <strong
              >Professeur d'anglais au CFA 94 (28/08/2022 - 31/08/2023, Saint
              Maur des Fossés, France)</strong
            >
          </p>
          <p>
            Préparer et enseigner l'anglais à des adolescents et à des adultes
            dans une école professionnelle mixte. Le niveau des examens à passer
            par les élèves est A2 pour le CAP et B1 pour le BP
          </p>
          <div>
            <a href="https://www.cfa94.com/"><strong>Site web</strong></a>
          </div>
          <hr />
          <p>
            <strong
              >Créateur de contenu en ligne chez Nouveaux Espaces Latinos
              (07/05/2021 - 07/11/2021, Lyon, France)</strong
            >
          </p>
          <p>
            Gestion de newsletters, et création et édition de contenu de
            magazines
          </p>
          <div>
            <a href="https://www.espaces-latinos.org/"
              ><strong>Site web</strong></a
            >
          </div>
          <hr />

          <p>
            <strong
              >Professeur d'anglais et d'espagnol chez Sveglio (20/09/2021 -
              31/01/2022, Bologna, Italia)</strong
            >
          </p>
          <p>
            Préparation et enseignement de l'anglais et de l'espagnol à des
            enfants, des adolescents et des adultes, du A1 à C1
          </p>
          <div>
            <a href="https://svegliobologna2020.wixsite.com/school"
              ><strong>Site web</strong></a
            >
          </div>
          <hr />

          <p>
            <strong
              >Administratif chez Centre International d'Antibes (03/03/2019 -
              29/08/2019, Antibes, France)</strong
            >
          </p>
          <p>
            J'ai travaillé en tant qu'assistant administratif au sein du
            département des familles d'accueil. Mes principales tâches étaient
            les suivantes:
          </p>
          <p>- Assistance téléphonique aux familles d'accueil.</p>
          <p>- Tâches administratives</p>
          <div>
            <a href="https://www.cia-france.fr/"><strong>Site web</strong></a>
          </div>
          <hr />

          <p>
            <strong
              >Professeur d'anglais chez Grupo Comforsa S.L (30/09/2018 -
              19/12/2018, Alcalá de Henares, España)</strong
            >
          </p>
          <p>
            Préparation et enseignement de l'anglais à des enfants, des
            adolescents et des adultes, du A1 à C1
          </p>
          <div>
            <a href="https://www.grupoconforsa.es/"
              ><strong>Site web</strong></a
            >
          </div>
          <hr />

          <p>
            <strong
              >Réceptionniste d'établissement hôtelier à l'Hôtel de l'Académie
              Saint Germain (09/08/2017 - 29/11/2017, Paris, France)</strong
            >
          </p>
          <p>Service client</p>
          <p>Tâches administratives</p>
          <p>Check-ins & Check-outs</p>
          <p>Réservations</p>
          <div>
            <a href="https://academiehotel.com/"><strong>Site web</strong></a>
          </div>
          <hr />

          <p>
            <strong
              >Réceptionniste d'établissement hôtelier à l'Hôtel Beaumont London
              (08/02/2016 - 23/08/2016, London, Royaume-Uni)</strong
            >
          </p>
          <p>Service client</p>
          <p>Tâches administratives</p>
          <p>Check-ins & Check-outs</p>
          <p>Réservations</p>
          <div>
            <a href="https://www.thebeaumont.com/"><strong>Site web</strong></a>
          </div>
          <hr />

          <h3>Formation</h3>
          <p>
            <strong>Bootcamp Développeur Full Stack - PixelPro</strong>. En
            cours
          </p>
          <a href="https://pixelpro.es/carreras/full-stack-developer.html"
            >Site web</a
          >
          <hr />
          <p>
            <strong>Licence en Études d'Anglais (Bac + 4) - UNED</strong>.
            Complété le 30/06/2020
          </p>
          <a
            href="https://www.uned.es/universidad/inicio/estudios/grados/grado-en-estudios-ingleses-lengua-literatura-y-cultura.html?idContenido=1"
            >Site web</a
          >
          <hr />
          <p>
            <strong
              >Master en Cultures Littéraires Européenes (Bac + 6) - Université
              de Strasbourg & Università di Bologna</strong
            >. Complété le 31/07/2022
          </p>
          <a href="https://cle.unibo.it/">Site web</a>
        </div>
      </div>
    </div>
  </div>
</div>
